# Choose your provider: deepseek | deepseek-dashscope | qwen | glm | minimax | kimi
PROVIDER=qwen

# Proxy server port (default: 8080)
PROXY_PORT=8080

# API Keys - set the one(s) you need
QWEN_API_KEY=your-qwen-api-key     # For qwen-max, qwen-plus
DEEPSEEK_API_KEY=your-deepseek-key       # For deepseek
GLM_API_KEY=your-glm-key                    # For glm
MINIMAX_API_KEY=your-minimax-key            # For minimax
KIMI_API_KEY=your-kimi-key               # For Kimi

# You can override below default models set in code 
QWEN_MODEL=qwen3-plus
DEEPSEEK_MODEL=deepseek-chat
GLM_MODEL=glm-5
MINIMAX_MODEL=MiniMax-M2.7-highspeed
KIMI_MODEL=kimi-k2.5
